/* Các kiểu chung cho mọi kích thước màn hình */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(90deg, #808080, #000000, #Ffffff);
  background-size: 400% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: colorTransition 8s infinite;
}
@keyframes colorTransition {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gray-text {
  color: #8b949e; 
}

.cc {
  color: #fff; 
}

@media screen and (max-width: 600px) {
  .text-6xl {
    font-size: 4xl;
  }
  .text-4xl {
    font-size: 2xl;
  }
  .text-xl {
    font-size: sm;
  }

  .word {
    font-size: 4xl;
  }
  .cc {
    font-size: 2xl;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .space-x-4 {
    margin-top: 1rem;
  }

  .button {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 200px;
  }
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.667s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
